body{background-color:#ffffb3;}
a{
	display:block;
	color:black;
	text-decoration:none;
}

table{
	width:100%;
	font-size:20px;
	width:500px;
}

div#kor{position:relative;
		left:10px;
		top:10px;}
		
button{position:absolute;
		right:10px;
		top:10px;}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: white;
}

td{
    border: 1px solid #dddddd;
    padding: 8px;
}
